<div class="row">

  <div class="my-3">
    <%= link_to "Add a New Discussion", "/discussions/new", class: 'btn btn-primary' %>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% Discussion.all.order('title').each do |discussion| %>
        <tr>
          <td><%= link_to discussion.title, "/discussions/#{discussion.id}" %></td>
          <td><%= link_to "[Edit]", "/discussions/#{discussion.id}/edit" %></td>
          <td><%= link_to "[Delete]", "/discussions/#{discussion.id}", method: 'delete' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
