<h1>Add a Discussion</h1>

<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/discussions" do %>

      <p>Title: <input name="title" type="text" autofocus class="form-control"></p>
      <p>Content: <input name="content" type="text" autofocus class="form-control"></p>

      <p>Topic:
                <select name="topic_id">
                  <% Topic.order('name').each do |topic| %>
                    <option value="<%= topic.id %>">
                      <%= topic.name %>
                    </option>
                  <% end %>
                </select>
            </p>
            <button class="btn btn-outline-primary">Add Discussion</button>

          <% end %>

        </div>
      </div>
