<h1>Add a Discussion</h1>

<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/discussions" do %>

      <p>Title: <input name="title" type="text" autofocus class="form-control"></p>
      <p>Content: <input name="content" type="text" autofocus class="form-control"></p>


      <button class="btn btn-primary">Add New Discussion</button>

    <% end %>

  </div>
</div>
