<% discussion = Discussion.find_by(id: params["id"]) %>

<h1><%= discussion.title %></h1>

<p>Comments by this discussion:</p>

<div class="row">
  <% discussion.comments.each do |comment| %>
    <div class="col-sm-3">
      <%= link_to "Related Comments", "/comments/#{comment.id}" %>
    </div>
  <% end %>
</div>
