<div class="row">

  <div class="my-3">
    <%= link_to "Add a New Comment", "/comments/new", class: 'btn btn-primary' %>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Message</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% Comment.all.order('message').each do |comment| %>
        <tr>
          <td><%= comment.message %></td>

          <td><%= link_to "[Delete]", "/comments/#{comment.id}", method: 'delete' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
