<h1>Add a Comment</h1>

<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/comments" do %>

      <p>Comment: <input name="message" type="text" autofocus class="form-control"></p>
      <button class="btn btn-primary">Add New Comment</button>

    <% end %>

  </div>
</div>
