<% comment = Comment.find_by(id: params["id"]) %>

<h1><%= comment.message %></h1>

<p>Discussions about this comment:</p>

<div class="row">
  <% comment.discussions.each do |discussion| %>
    <div class="col-sm-3">
      <%= link_to "Related Discussion", "/discussions/#{discussion.id}" %>
    </div>
  <% end %>
</div>
