<% topic = Topic.find_by(id: params["id"]) %>

<h1>Editing <%= topic.name %></h1>

<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/topics/#{topic.id}", method: "patch" do %>

      <p>Name: <input value="<%= topic.name %>" name="name" type="text" autofocus class="form-control"></p>

      <button class="btn btn-outline-primary">Update topic</button>

    <% end %>

  </div>
</div>
