<div class="row">

  <div class="col-sm-3 my-3">
    <%= link_to "Launch a New Topic", "/topics/new" %>
  </div>

  <% @topics.each do |topic| %>

    <div class="col-sm-3 my-3 text-center">
    

      <p>
        <% if session[:user_id].present? %>
          <%= link_to "[Delete]", "/topics/#{topic.id}", method: "delete" %>
          <%= link_to "[Edit]", "/topics/#{topic.id}/edit" %>
        <% end %>
      </p>
    </div>

  <% end %>

</div>
