<h1>Add a Topic</h1>

<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/topics" do %>

      <p>Topic Name: <input name="name" type="text" autofocus class="form-control"></p>

      <!-- <p>Existing Topics:
          <select name="topic_name">
            <% Topic.order('name').each do |tp| %>
              <option value="<%= tp.id %>">
                <%= tp.name %>
              </option>
            <% end %>
          </select>
      </p> -->
      <button class="btn btn-primary">Add Topic</button>

    <% end %>

  </div>
</div>
