<h1>User Profile</h1>
<hr>

<% user = User.find_by(id: params["id"]) %>

<p>Username: <%= user.username %></p>
<p>Email: <%= user.email %></p>
<p>Password Digest: <%= user.password_digest %></p>

    <hr>
    <%= link_to "Update", "/users/#{user.id}/edit", class: "btn btn-lg btn-success" %>
  </div>
</div>
