<div class="row">

  <div class="my-3">
    <%= link_to "Add a New Thread", "/threads/new", class: 'btn btn-primary' %>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>comment_count</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% Thread.all.order('comment_count').each do |thread| %>
        <tr>
          <td><%= link_to comment_count, "/threads/#{thread.id}" %></td>
          <!-- <td><%= link_to "[Edit]", "/threads/#{thread.id}/edit" %></td>
          <td><%= link_to "[Delete]", "/threads/#{thread.id}", method: 'delete' %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
