<h1>Add a Thread</h1>

<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/threads" do %>

      <p>Name: <input name="name" type="text" autofocus class="form-control"></p>
      <button class="btn btn-primary">Add New Thread</button>

    <% end %>

  </div>
</div>
